    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img ng-src={{dish.image}} alt="Uthappizza" class="media-object img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                <span class="label label-danger">{{dish.label}}</span>
                <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <form class="form-inline">
                    <span class="lead">Customer comments</span>
                    <label for="sortBy">&nbsp;&nbsp;&nbsp; Sort by:
                        <input type="text" class="form-control" ng-model="searchText" placeholder="(-) rating / author / date">
                    </label>
                </form>
                <blockquote ng-repeat="x in dish.comments | orderBy:searchText">
                    <p>{{x.rating}} Stars</p>
                    <p>{{x.comment}}</p>
                    <footer>{{x.author}}, {{x.date | date}}</footer>
                </blockquote>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <ul class="list-unstyled">
                    <li>
                        <blockquote ng-show="commentForm.$valid && !commentForm.$pristine">
                            <p>{{commentInput.rating}} Stars</p>
                            <p>{{commentInput.comment}}</p>
                            <footer>{{commentInput.author}}, {{commentInput.date | date}}</footer>
                        </blockquote>
                    </li>
                    <p>Task 3: Here you include the code to show the live preview of the comment</p>
                    <p>The comment should be shown only when the form contains valid information and is not pristine</p>
                </ul>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.firstname.$error.required && !commentForm.firstname.$pristine }">
                        <label for="firstname" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your Name" ng-model="commentInput.author" required>
                            <span ng-show="commentForm.firstname.$error.required && !commentForm.firstname.$pristine" class="help-block">Your First name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-2 control-label">
                            <label for="">Number of Stars</label>
                        </div>
                        <div class="col-xs-6 col-sm-10">
                            <label for="guest1" class="radio-inline">
                                <input type="radio" name="optradio" id="guest1" value="1" ng-model="commentInput.rating">1
                            </label>
                            <label for="guest2" class="radio-inline">
                                <input type="radio" name="optradio" id="guest2" value="2" ng-model="commentInput.rating">2
                            </label>
                            <label for="guest3" class="radio-inline">
                                <input type="radio" name="optradio" id="guest3" value="3" ng-model="commentInput.rating">3
                            </label>
                            <label for="guest4" class="radio-inline">
                                <input type="radio" name="optradio" id="guest4" value="4" ng-model="commentInput.rating">4
                            </label>
                            <label for="guest5" class="radio-inline">
                                <input type="radio" name="optradio" id="guest5" value="5" ng-model="commentInput.rating">5
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.feedback.$error.required && !commentForm.feedback.$pristine }">
                        <label for="comments" class="col-xs-6 col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="12" ng-model="commentInput.comment" required></textarea>
                            <span ng-show="commentForm.feedback.$error.required && !commentForm.feedback.$pristine" class="help-block">Your feedback is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>